[submodule "fast-style-transfer"]
	path = fast-style-transfer
	url = https://github.com/lengstrom/fast-style-transfer
[submodule "tensorflow-fast-style-transfer"]
	path = tensorflow-fast-style-transfer
	url = https://github.com/BangYoon/tensorflow-fast-style-transfer
